/*Tablet*/

@media  screen and (max-width: 768px)
	.MainContainer
		margin-top 4.4em
		width 100%
		max-height 100vmax
		
	.u-containerDefault
			color white
			text-align justify
			margin 0 .5em 0 .5em
			padding .5em
		
/*Desktop*/

@media (min-width: 768px)
	.MainContainer
		margin 5em auto 0
		max-width 1240px
		// display flex
		// flex-flow row wrap
		//background-color $light_orange
		//padding 0 1em
	.flex
		display flex
		flex-flow row nowrap
		
	.u-title
		text-align center