doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		// Para hacerlo responsive
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title
			|	Mi Portafolio
		link(rel="stylesheet", type="text/css", href="css/estilos.css")
	body
		include ./components/MainMenu/template.jade
		div.MainContainer
			include ./components/Header/template.jade
			include ./components/Profile/template.jade
			include ./components/Knowledge/template.jade
			include ./components/Work/template.jade
			include ./components/Footer/template.jade
		script(type="text/javascript", src="js/app.js")