//azul_claro = #00CCFF

/*COMPONENTE MENU PRINCIPAL*/

.MainMenu	
	&-list
		font-size 1.5em
		font-weight 300
		list-style none
		margin 0
		padding 0

	/*Agrega los colores a cada elemento del menu, 
    con la tecnica de seudo clase, de esta forma si 
    tenemos mas elementos, se vuelve a repetir el color*/

.MainMenu-item
	&:nth-child(6n+1) 
		background rgb(208, 101, 3)		    

	&:nth-child(6n+2)
		background rgb(233, 147, 26)

	&:nth-child(6n+3)
		background rgb(22, 145, 190)

	&:nth-child(6n+4)
		background rgb(22, 107, 162)

	&:nth-child(6n+5)
		background rgb(27, 54, 71)

	&:nth-child(6n+6)
		background rgb(21, 40, 54)

.MainMenu-link
	color rgba(249, 249, 249, .9)
	display block                
	text-decoration none
	transition color .5s, background .5s, heigth .5s
		
.MainMenu-icon
.MainMenu-text
	display block
	
	/*Opaca los demas botones del menu, cuando estamos sobre un boton*/
	
.MainMenu-list:hover .MainMenu-link{
	color rgba(249, 249, 249, .5)
}

.MainMenu-list:hover .MainMenu-link:hover {
	color rgba(249, 249, 249, 0.99)
}

	/*Estilos para el boton de Menu*/

.MainMenu-button
	background azul_claro
	border-bottom 4px solid rgb(221, 221, 221)
	border none
	color rgb(7, 16, 15)
	cursor pointer
	display none    
	font-size 1.2em
	font-weight normal
	padding 0.5em 0.5em 0.8em
	text-align left
	width 100%	
	position relative
	top 0
	left 0
	rigth 0
	z-index 101
	
	i
		z-index -1

.icon-menu
	font-size 1.6em
	line-height 0
	position relative
	top 3px
	
/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width: 32.438em)

		/* Mostramos el boton de Menu */
	.MainMenu-button
		display block					
	
		/*max-height: 0em --> oculta los items del menu; */
	.MainMenu-list
		// max-height 0em
		overflow hidden
		position absolute
		top -30em
		width 100%
		transition .4s
		z-index 100

		/*Muestra el menu cuando se hace clic en el icono del menú*/
	.is-active + .MainMenu-list {				
		// max-height 30em
		overflow hidden
		// transition max-height .4s
		top 1.9em
		
		// transition top .4s	
	}	

	.MainMenu-link
		padding 0.5em
	
	.MainMenu-icon
	.MainMenu-text
		display inline-block
	
	.MainMenu-icon
		height 100%
	
	.MainMenu-text
		margin-left 1em
		font-size 0.8em	   
	
		/* 
		    Agregamos un borde izquierdo, con un color un poco más oscuro
		    que el de cada item del menu, esto para dar la apariencia que
		    cada item es una caja.
		*/
	.MainMenu-item
		&:nth-child(6n+1)
			border-left 8px solid rgb(174, 78, 1)
		
		&:nth-child(6n+2)
			border-left 8px solid rgb(191, 117, 20)
	
		&:nth-child(6n+3)
			border-left 8px solid rgb(13, 111, 150)
		
		&:nth-child(6n+4)
			border-left 8px solid rgb(10, 75, 117)
		
		&:nth-child(6n+5)
			border-left 8px solid rgb(16, 34, 44)
		
		&:nth-child(6n+6)
			border-left 8px solid rgb(9, 18, 25)