nav#menu.MainMenu
  button#showMenu.MainMenu-button(type='button', aria-hidden='true')
    i.icon-menu(aria-hidden='true')
    span.MainMenu-buttonText 
      | Menu
  ul.MainMenu-list
    li.MainMenu-item
      a.MainMenu-link(href='#yo')
        span.MainMenu-icon
          i.icon-user-tie(aria-hidden='true')
        span.MainMenu-text
          | Sobre Mi
    li.MainMenu-item
      a.MainMenu-link(href='#perfil')
        span.MainMenu-icon
          i.icon-profile(aria-hidden='true')
        span.MainMenu-text
          | Perfil
    li.MainMenu-item
      a.MainMenu-link(href='#conocimientos')
        span.MainMenu-icon
          i.icon-user-plus(aria-hidden='true')
        span.MainMenu-text
          | Conocimientos      
    li.MainMenu-item
      a.MainMenu-link(href='#trabajo')
        span.MainMenu-icon
          i.icon-briefcase(aria-hidden='true')
        span.MainMenu-text
          | Trabajo
    li.MainMenu-item
      a.MainMenu-link(href='#contacto')
        span.MainMenu-icon
          i.icon-mail(aria-hidden='true')
        span.MainMenu-text
          | Contacto