//rosado = #EC3C8C

.Knowledge
	position relative
	&-list
		// display flex
		// justify-content space-around
		// flex-flow row wrap
		text-align center
	&-item		
		display inline-block
		font-size 3.2em
		margin 0 1rem 1rem 1rem
		//text-align left
		vertical-align top
		&:nth-child(2n+0)
			margin-right 0
			margin-left 0
		& > .icon-JS,
		& > .icon-jQuery,
		& > .icon-php,
		& > .icon-data	
			font-size 3rem		

/*RESPONSIVE*/

/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width 32.438em)

	/*COMPONENTE WORKFLOW*/
	
	.Knowledge		
		background rosado
		transition .3s
		
	// .tooltip 
	// 	display inline
	// 	position relative
	// .tooltip
	// 	&.is-active:after
	// 		bottom 26px
	// 		content attr(title) /* este es el texto que será mostrado */
	// 		left 20%
	// 		position absolute
	// 		z-index 98
	// 		/* el formato gráfico */
	// 		background rgba(19, 18, 18, 0.63) /* el color de fondo */
	// 		border-radius 5px
	// 		color #FFF /* el color del texto */
	// 		font-family Georgia
	// 		font-size 12px
	// 		padding 5px 15px
	// 		text-align center
	// 		text-shadow 1px 1px 1px #000
	// 		//width 150px
	// 	&.is-active:before
	// 		bottom 20px
	// 		content ""
	// 		left 50%
	// 		position absolute
	// 		z-index 99
	// 		/* el triángulo inferior */
	// 		border solid
	// 		border-color rgba(19, 18, 18, 0.63) transparent
	// 		border-width 6px 6px 0 6px