//rosado = #EC3C8C

.Knowledge
	position relative
	&-list
		// display flex
		// justify-content space-around
		// flex-flow row wrap
		text-align center
	&-item		
		display inline-block
		font-size 3.2em
		margin 0 1rem 1rem 1rem
		//text-align left
		vertical-align top
		&:nth-child(2n+0)
			margin-right 0
			margin-left 0
		& > .icon-JS,
		& > .icon-jQuery,
		& > .icon-php,
		& > .icon-data	
			font-size 3rem		

/*RESPONSIVE*/

/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width 32.438em)

	/*COMPONENTE WORKFLOW*/
	
	.Knowledge		
		background rosado
		transition .3s	