//rosado = #EC3C8C

.Knowledge
	
	&-list
		// display flex
		// justify-content space-around
		// flex-flow row wrap
		text-align center
	&-item		
		display flex
		flex-flow column nowrap
		justify-content space-between		
		color #fff
		background #111		
		padding .5em
		margin-bottom .5em
		border-radius .5em
		span:first-of-type
			font-size 3em
		& > .icon-JS,//no estan sirviendo estos
		& > .icon-jQuery,
		& > .icon-php,
		& > .icon-data
			font-size 2.5rem
		&Description
			font-size 1em	

/*RESPONSIVE*/

/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width 32.438em)

	/*COMPONENTE WORKFLOW*/
	
	.Knowledge
		position relative		
		background rosado
		transition .3s	