section#conocimientos.Knowledge.dragend-page
	div.u-containerDefault
		h2.Knowledge-title.u-title
			|	Conocimientos	
		p.Knowledge-description
			|	Algunas de las tecnologías que manejo son:
			div.Knowledge-list
				-var knowledgeData = [{"clase":"icon-html5","description":"Html5"},{"clase":"icon-css3","description":"CSS3"},{"clase":"icon-iphone","description":"Responsive Design"},{"clase":"icon-JS","description":"JavaScript"},{"clase":"icon-jQuery","description":"jQuery"},{"clase":"icon-php","description":"PHP"},{"clase":"icon-data","description":"Bases De Datos - MySQL/PostgreSQL"},{"clase":"icon-pen","description":"Stylus"},{"clase":"icon-language","description":"Idiomas - Inglés/Español"},{"clase":"icon-illustrator","description":"Adobe Illustrator"},{"clase":"icon-images","description":"Edición de imágenes - Gimp2"},{"clase":"icon-windows8","description":"Windows - Office"},{"clase":"icon-tux","description":"Linux - Manejo de Terminal"},{"clase":"icon-android","description":"Android - Desarrollo de aplicaciones"},{"clase":"icon-user-plus","description":"Más - BackboneJs / AngularJs / Gulp / Jade"}]
				each val in knowledgeData
					include ../knowledge-item/template.jade