section#conocimientos.Knowledge.dragend-page
	div.u-containerDefault
		h2.Knowledge-title.u-title
			|	Conocimientos	
		p.Knowledge-description
			|	Algunas de las tecnologías que manejo son:
			div.Knowledge-list
				span.Knowledge-item
					span.icon-html5(rel="tooltip", title="Html5")
				span.Knowledge-item
					span.icon-css3(rel="tooltip", title="CSS3")
				span.Knowledge-item
					span.icon-iphone(rel="tooltip", title="Responsive Design")
				span.Knowledge-item
					span.icon-JS(rel="tooltip", title="JavaScript")
				span.Knowledge-item
					span.icon-jQuery(rel="tooltip", title="jQuery")
				span.Knowledge-item
					span.icon-php(rel="tooltip", title="PHP")
				span.Knowledge-item
					span.icon-data(rel="tooltip", title="Bases De Datos - MySQL/PostgreSQL")
				span.Knowledge-item
					span.icon-pen(rel="tooltip", title="Stylus")
				span.Knowledge-item
					span.icon-language(rel="tooltip", title="Idiomas - Inglés/Español")
				span.Knowledge-item
					span.icon-illustrator(rel="tooltip", title="Adobe Illustrator")
				span.Knowledge-item
					span.icon-images(rel="tooltip", title="Edición de imágenes - Gimp2")
				span.Knowledge-item
					span.icon-windows8(rel="tooltip", title="Windows - Office")
				span.Knowledge-item
					span.icon-tux(rel="tooltip", title="Linux - Manejo de Terminal")
				span.Knowledge-item
					span.icon-android(rel="tooltip", title="Android - Desarrollo de aplicaciones")
				span.Knowledge-item
					span.icon-user-plus(rel="tooltip", title="Más - BackboneJs / AngularJs / Grunt / Gulp / Jade")