@import 'nib/gradients'

//verde = #BAD800
verde_boton = #C2CC85
rojo_suave = #FFBCBC
letra =#272822

/*COMPONENTE FOOTER*/

.Footer
	&-button
		background naranja
		color white
		padding .5em 1em
		border 1px solid verde_boton
		border-radius 1em
		font-size 1.2em
		box-shadow 0 0 10px rgba(black,.5)
	// .valid-->clase agregada por "jQuery-validator" a los input	
	&-formInput.valid
	&-textarea.valid
		border 1px solid aqua
	//.error -->clase agregada por "jQuery-validator" a los input
	&-formInput.error
	&-textarea.error
		border 1px solid red
		background rojo_suave

//.error -->clase agregada por "jQuery-validator" para mostrar el mensaje de error		
.error
	display inline-block
	padding-bottom .5em

.dragdealer	
	position relative
	width 280px
	height 46px
	padding 2px
	border-radius 15px
	border 1px solid #525252	
	//el fondo negro del slider
	background: linear-gradient(to bottom,  #000000 0%,#222222 100%)
	
.iphone-slider
	width 280px
	height 54px
	//height 46px
	position relative
	line-height 54px
	
.iphone-sliderText
	position absolute
	z-index 99
	top 0
	left 34%
	font-family "Helvetica Neue", Helvetica, sans
	font-size 24px
	//color white
	cursor default
	user-select none	
	background: linear-gradient(135deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 45%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.3) 55%,rgba(255,255,255,0.3) 100%);
	background-clip text
	color transparent
	animation-timing-function ease-in-out
	animation text-spotlight 4s infinite
	background-size 1000px

@keyframes text-spotlight
	0% {
		//mask-position: -800px;
		background-position -720px 0		
	}
	100% {
		//mask-position: 0px;
		background-position 720px 0		
	}

.dragdealer	.handle 
	position absolute
	//top 0
	//left 0
	cursor pointer	
	z-index 100
	top initial
	left initial	

.dragdealer .arrow	
	font-size 16px
	line-height 30px		
	color #FFF
	text-align center	
	width 68px
	height 44px
	border-radius 10px
	//la imagen de la flecha, con degradado para el color gris
	background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAYCAYAAAB0kZQKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNpi7OnpYaAC0AXiF0D8mhzNTAzUASBHnAdim4F0BAhIA/EBIC4aSEeAADMQ9wLxRiDmHyhHwIAfNHqMiXZEcXExGJMCiNCjCMTHgDiTkFmM////p4rXe3t78Rm0DIjTgfgLNkkWoGZQij7MQFsQBY2aICC+Rq80gQ2oA/EZIE4YSEeAACcQzwfimVD2gDgCBtKgiVZlIB0BAgbQbBwykI5A5I4BtPsaNLfcHKiQWADEJiAHDERIfAfiLKgjBiQ67kCD/zK2NAFqjMyi0AJQVnPCI78GiBNxFttQF6ZToVjG5ohfoLoOiKcMVO54BA3+swPVntgKxIbEOIAWjvgLxJVA7APE7waisHoKxBFAfGSgSszL0MLnBTmaAQIMAKg/OsrT7JG8AAAAAElFTkSuQmCC'),linear-gradient(to bottom, #fefefe 0%,#dddddd 49%,#d1d1d1 51%,#a1a1a1 100%)
	background-repeat no-repeat
	background-position 50%

.dragdealer .disabled
	background #898989

/*RESPONSIVE*/

/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width: 32.438em)
		
	.Footer
		background verde
		transition .3s
		padding 2em 0
		text-align center
		max-width 30em
		mar
		
		&-left
			display inline-block			
		
		&-title
			font-size 1.5em
			font-weight bold
			
		&-form
			text-align center
			display inline-block
			color letra
		
		&-formInput	
		&-textarea
			display block
			margin 0 0 1em
			padding .5em
			border-radius 1em
			border none
			min-width 270px
			
		&-textarea			
			min-height 80px