@import 'nib/gradients'

//verde = #BAD800
//$light_green = #eaf3b2
verde_boton = #C2CC85
rojo_suave = #FFBCBC
letra =#272822

/*COMPONENTE FOOTER*/

.Footer
	padding 2em 0
	
	&-left
		display inline-block
		
	&-title
		font-size 1.5em
		font-weight bold
		
	&-form
		text-align center
		display flex
		align-items center
		flex-flow column nowrap
		color letra
	
	&-formInput	
	&-textarea
		display block
		margin 0 auto 1em
		padding .5em
		border-radius 1em
		border none
		min-width 270px		
		
	&-textarea			
		min-height 80px

	&-button
		background naranja
		color white
		padding .5em 1em
		border 1px solid verde_boton
		border-radius 1em
		font-size 1.2em
		box-shadow 0 0 10px rgba(black,.5)
		margin-top .5em
	// .valid-->clase agregada por "jQuery-validator" a los input	
	&-formInput.valid
	&-textarea.valid
		border 1px solid aqua
	//.error -->clase agregada por "jQuery-validator" a los input
	&-formInput.error
	&-textarea.error
		border 1px solid red
		background rojo_suave

//.error -->clase agregada por "jQuery-validator" para mostrar el mensaje de error		
.error
	display inline-block
	padding-bottom .7em

/*RESPONSIVE*/

/*Tablet*/

@media (max-width: 768px)
		
	.Footer
		// background verde
		background $cobalt_2
		transition .3s
		text-align center
		
/*Desktop*/

@media (min-width: 768px)
	.Footer
		width 100%
		// border-left 8px solid verde
		border-bottom 1px solid $gris
		// background-color $light_green
		background-color $cobalt_4
		color #fff

		&-container
			display flex
			flex-flow row nowrap

		&-left
			display inline-block
			width 35%
			padding-left 1.5em
			text-align justify
			margin-left 4em
		&-form
			// display inline-block
			width 65%
		&-formInput
		&-textarea
			background-color #DFF0D8
			
	.error
		display block
		color #fff