footer#contacto.Footer.dragend-page
	div.u-containerDefault
		div.Footer-left
			h3.Footer-title
				|	Contacto
			p.Footer-description
				|	Si tienes una pregunta, sugerencia o quieres trabajar conmigo ponte en contacto con este formulario
		form.Footer-form
			input.Footer-formInput(type="text", placeholder="Nombre")
			input.Footer-formInput(type="email", placeholder="Email")
			textarea.Footer-textarea(placeholder="Mensaje")
			button.Footer-button(type="submit")
				|	Contactarme