//purpura_oscuro = #200950

/*COMPONENTE TRABAJO*/

.Work	
	text-align center
	&-item
		display inline-block
		text-align center
		margin-right 1.5em
		margin-bottom 1.5em
		max-width 400px
		vertical-align top
		
	&-itemTitle
		font-size 1.1em
		display inline-block
		margin-top 1em
		
		
	&-description
		font-style italic
		display inline-block

/*RESPONSIVE*/

/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width: 32.438em)
	
	.Work
		background purpura_oscuro		
		transition .3s
		&-item			
			margin-right 0