/*
	purpura_oscuro = #200950
	$gris = #dedede
	$red_pink = #ff144f
	$light_red_pink = #ffa1b8
	$indigo = #890fff
	$light_indigo = #dbb7ff
*/

/*COMPONENTE TRABAJO*/

.Work	
	text-align center
	&-item
		display inline-block
		text-align center
		margin-right 1.5em
		margin-bottom 1.5em
		max-width 400px
		vertical-align top
		
	&-itemTitle
		font-size 1.1em
		display inline-block
		margin-top 1em
		
		
	&-description
		font-style italic
		display inline-block

/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 32.5em) and (max-width: 48em)
	.Work
		&-list
			text-align center
			position relative

@media  screen and (max-width: 768px)
	
	.Work
		background $indigo		
		transition .3s
		
		&-item			
			margin-right 0
			
/*Desktop*/

@media (min-width: 768px)
	.Work
		border-left 8px solid $indigo
		border-bottom 1px solid $gris
		padding 1em
		background-color $light_indigo
		&-item
			position relative
			z-index 1