section#trabajo.Work.dragend-page
	div.u-containerDefault
		h2.Work-title.u-title
			|	Trabajo
		article.Work-item
			ul.rslides
				- for (var x = 1; x < 6; x++)
					li
						figure.Work-imageContainer
							img.Work-image(src="./img/lider_express/#{x}.png", alt="Express de Lider")
			span.Work-itemTitle
				| Express de Lider
			p.Work-description
				| Sitio web corporativo en el cual los usuarios pueden conocer los servicios del supermercado, sus sucursales y el Recetario Express de Líder.
		article.Work-item
			ul.rslides
				- for (var x = 1; x < 3; x++)
					li
						figure.Work-imageContainer
							img.Work-image(src="./img/legendario/#{x}.png", alt="Viajero Legendario Heineken")
			span.Work-itemTitle
				| Viajero Legendario Heineken
			p.Work-description
				| Mailing para la campaña "Viajero Legendario Heineken" (Chile).
		article.Work-item
			ul.rslides
				li
					figure.Work-imageContainer
						img.Work-image(src="./img/carrera/carrera.png", alt="Carrera de Fans Falabella")
			span.Work-itemTitle
				| Carrera de Fans Falabella
			p.Work-description
				| Campaña "Carrera de Fans" para Falabella.