section#trabajo.Work.dragend-page
	div.u-containerDefault
		h2.Work-title.u-title
			|	Trabajo
		div.Work-list
			- var info = [{"quantity":"5","src":"lider_express","ext":"png","alt":"Express de Lider","title":"Express de Lider","description":"Sitio web corporativo en el cual los usuarios pueden conocer los servicios del supermercado, sus sucursales y el Recetario Express de Líder."},{"quantity":"2","src":"legendario","ext":"png","alt":"Viajero Legendario Heineken","title":"Viajero Legendario Heineken","description":"Mailing para la campaña 'Viajero Legendario Heineken' (Chile)."},{"quantity":"1","src":"carrera","ext":"png","alt":"Carrera de Fans Falabella","title":"Carrera de Fans Falabella","description":"Campaña 'Carrera de Fans' para Falabella."}]
			each val in info
				- data = val
				include ../Work-item/template.jade