section#trabajo.Work
	div.u-containerDefault
		h2.Work-title.u-title
			|	Trabajo
		- for (var w_article = 0; w_article < 4; w_article++)	
			article.Work-item
				figure.Work-imageContainer
					img.Work-image(src="../static/images/thumb1.jpg", alt="Imagen de una pagina que hice")
					figcaption.Work-description
						|	Página Web