/*
	azul_claro = #00CCFF
	azul_oscuro = #00127A
	$ligth_blue = #4c59a1
	$gris = #dedede
*/

/*COMPONENTE YO*/

.Yo

	&-image
		width 10.5em
		border 5px solid azul_claro
		border-radius 50%

	&-imageContainer
		margin 0 .5em
		padding .5em .5em 0

	&-imageDescription
		font-size 2.2em
		font-weight bold

	&-name
		font-size 1.5em
		font-weight 400
		margin 0
		padding .5em

/*RESPONSIVE*/

/*Tablet*/
@media  screen and (max-width: 768px)

	.Yo
		background azul_oscuro

		&-image
			width 8em

		&-imageDescription
			font-size 2em
			padding-top .5em

		&-name
			font-size 1.5em

		&-imageDescription
		&-name
			color white

/*Desktop*/

@media (min-width: 768px)
	.Yo
		border-left 8px solid azul_oscuro
		border-bottom 1px solid $gris
		display inline-block
		width 50%
		background-color $ligth_blue
		color $white
		&-name
			text-transform uppercase