section#yo.Yo.dragend-page
	- var fh_classes = ['Yo-imageContainer', 'center-text']
	figure(class=fh_classes)
		img.Yo-image(src="img/Ricardo.jpeg", alt="Ricardo Landínez")
		figcaption.Yo-imageDescription
			|	Ricardo Landínez Ospino
	p.Yo-name.center-text
		|	FrontEnd Developer