header#yo.Header.dragend-page
	- var fh_classes = ['Header-imageContainer', 'center-text']
	figure(class=fh_classes)
		img.Header-image(src="img/Ricardo.jpeg", alt="Ricardo Landínez")
		figcaption.Header-imageDescription
			|	Ricardo Landínez Ospino
	p.Header-name.center-text
		|	FrontEnd Developer	