/*
	naranja = #FF8C00
	$light_orange = #ffe8cc
	azul_claro = #00CCFF
	purpura_oscuro = #200950
	$gris = #dedede
*/

/*COMPONENTE PROFILE*/

.Profile
	&-social
		margin-top 1.6em
		text-align center

	&-link
		color white
		text-decoration none
		padding .4em .4em
		border-radius 2em
		margin-right .3em
	&-link.twitter
		background azul_claro
	&-link.github
		background purpura_oscuro
	&-icon
		padding-right .5em

/*RESPONSIVE*/

/*Tablet*/
@media  screen and (max-width 768px)

	.Profile
		// background naranja
		background $light_cobalt_1
		transition .3s
		&-title
		&-description
			color #111

/*Desktop*/

@media (min-width: 768px)
	.Profile
		// border-left 8px solid naranja
		border-bottom 1px solid $gris
		display inline-block
		width 50%
		padding 1em
		vertical-align bottom
		text-align justify
		// background-color $light_orange
		// background-color $light_cobalt_1
		margin 0 auto