//naranja = #FF8C00
//azul_claro = #00CCFF
//purpura_oscuro = #200950

.Profile
	&-social
		margin-top 1.6em
		text-align center

	&-link
		color white
		text-decoration none
		padding .4em .4em
		border-radius 2em
		margin-right .3em
	&-link.twitter
		background azul_claro
	&-link.github
		background purpura_oscuro	
	&-icon
		padding-right .5em			

/*RESPONSIVE*/

/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width 32.438em)

	/*COMPONENTE PERFIL*/
	
	.Profile		
		background naranja		
		transition .3s		