section#perfil.Profile.dragend-page
	div.u-containerDefault
		h2.Profile-title.u-title
			|	Perfil
		p.Profile-description
			|	Hola!!! Me encanta ayudarte a crear aplicaciones web profesionales, usando los últimos estándares y tecnologías para que no te quedes atrás. 
		p.Profile-description
			|	Crear una WebApp para que se vea y se sienta tal y como la imaginaste es mi misión.
		p.Profile-description
			|	Html5, Css3 y JavaScript son parte de mi equipo de trabajo.
		div.Profile-social
			a.Profile-link.twitter(href="https://twitter.com/landirichard", target="_blank")
				span.Profile-icon.icon-twitter
				span.Profile-text
					| @landirichard
			a.Profile-link.github(href="https://github.com/landinezrichard", target="_blank")
				span.Profile-icon.icon-github
				span.Profile-text
					| landinezrichard