section#perfil.Profile.dragend-page
	div.u-containerDefault
		h2.Profile-title.u-title
			|	Perfil
		p.Profile-description
			|	Hola!!! Me encanta ayudarte a crear aplicaciones web profesionales, usando los últimos estándares y tecnologías para que no te quedes atrás. 
		p.Profile-description
			|	Si te estás preguntando ¿qué es un Frontend?, es el encargado de maquetar la estructura semántica del contenido (HTML), codificar el diseño en hojas de estilo (CSS) y agregar la interacción con el usuario (JavaScript). En pocas palabras, es la persona que hace la parte del software(página web o web App) que interactúa con el o los usuarios.
		p.Profile-description
			|	Crear una Web App para que se vea y se sienta tal y como la imaginaste es mi misión.
		div.Profile-social
			a.Profile-link.twitter(href="https://twitter.com/landirichard", target="_blank")
				span.Profile-icon.icon-twitter
				span.Profile-text
					| @landirichard
			a.Profile-link.github(href="https://github.com/landinezrichard", target="_blank")
				span.Profile-icon.icon-github
				span.Profile-text
					| landinezrichard