@import "nib"
@import "normalize.styl"
@import "iconfonts.styl"
@import "../components/MainMenu/estilos.styl"
@import "../components/Header/estilos.styl"
@import "../components/Profile/estilos.styl"
@import "../components/Work/estilos.styl"
@import "../components/Footer/estilos.styl"

/*FUENTE*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700') 

/*Estilos Generales*/

a
	text-decoration none
	
img	
	vertical-align top
	
ul
	margin 0
	padding 0


/*
	VARIABLES COLORES
______________________________________________________
*/

azul_claro = #00CCFF
azul_oscuro = #00127A
naranja = #FF8C00
rosado = #EC3C8C
purpura_oscuro = #200950
purpura_claro = #68217A
verde = #BAD800

/*
	CLASES OOCSS
______________________________________________________
*/

.center-text
	text-align center
	
/*RESPONSIVE*/

/*screens smaller than 519px (32.438em)*/
@media  screen and (max-width: 32.438em)

	html
		font-size 100%
			
	.MainContainer
		overflow hidden
		position relative
		// min-width 320px
		// height 480px		
		min-height 100vmax
		/*height 100vmax*/	
		
	.u-containerDefault
		color white
		text-align justify
		margin 0 .5em 0 .5em
		padding .5em	