@import "nib"
@import "normalize.styl"

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')

@import "iconfonts.styl"

/*
*	VARIABLES COLORES
*/

azul_claro = #00CCFF
azul_oscuro = #00127A
naranja = #FF8C00
rosado = #EC3C8C
purpura_oscuro = #200950
purpura_claro = #68217A
verde = #BAD800
$black = #212121
$white = #FAFAFA
$gris = #dedede
$ligth_blue = #4c59a1
$light_orange = #ffe8cc
$light_pink = #fbd8e8
$indigo = #890fff
$light_indigo = #dbb7ff
$red_pink = #ff144f
$light_red_pink = #ffa1b8
$light_green = #eaf3b2

$cobalt_1 = #69b6ff
$cobalt_2 = #198eff
$cobalt_3 = #0060c3
$cobalt_4 = #003873
$cobalt_5 = #001d3c

$dark_cb_1 = #5491cc
$dark_cb_2 = #1471cc
$dark_cb_3 = #004c9c
$dark_cb_4 = #002c5c
$dark_cb_5 = #001123

$light_cobalt_1 = #d7ebff


/*Estilos Generales*/

html
	font-size: 16px
	font-family: 'Open Sans', sans-serif; /* Fuente de google fonts */
	
body
	background $white
	
a
	text-decoration none

img
	vertical-align top

ul
	margin 0
	padding 0
	
.center-text
	text-align center
	
@import "../components/MainContainer/estilos.styl"		

@import "../components/Header/estilos.styl"	
@import "../components/MainMenu/estilos.styl"
@import "../components/Yo/estilos.styl"
@import "../components/Profile/estilos.styl"
@import "../components/Knowledge/estilos.styl"
@import "../components/Work/estilos.styl"
@import "../components/Footer/estilos.styl"
@import "../components/slides/responsiveslides.styl"

@import "../components/modal/remodal.styl"
@import "../components/modal/remodal-default-theme.styl"


@media  screen and (max-width: 768px)
	body
		background azul_claro
// 	html
// 		font-size 100%

/*
* Breakpoints Responsive usados antes
*/

/*screens smaller than 519px (32.438em)*/

// /*Para la versión Tablet
// 32.5em --> 520px
// 49.938em --> 799px
// */			
// @media (min-width: 32.5em) and (max-width: 49.938em)

// /*Desktop
// 50em --> 800px
// */			
// @media (min-width: 50em)	